<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <!-- App's own CSS -->
        <!-- <link href="/staticfiles/styles.css" rel="stylesheet"/> -->
    		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
			integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
			crossorigin=""/>
		{% load static %}
		<link rel="stylesheet" href="{% static "bcglacier/css/style.css" %}">
    <script type="text/javascript" src="{% static "bcglacier/js/js-helpers.js" %}"></script>

		{% block head %}
		{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Backcountry Site Reviews: {% block title %}{% endblock %}</title>

    </head>

    <body>
      <!-- <p>Current park session variable: {{ request.session.current_park }} </p>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %} -->

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/bcglacier">Backcountry Site Reviews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if request.session.current_park_name %}
                  {{ request.session.current_park_name }}
                {% else %}
                  Select Park/Area
                {% endif %}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for park in parks %}
                  <a class="dropdown-item" id="selectPark" onclick="setPark('{{park}}')" href="{% url 'bcglacier:index' %}">{{park}}</a>
                  <div class="dropdown-divider"></div>
                {% endfor %}
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'bcglacier:list' %}">List View</a></li>
            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

        <main class="container">
            {% block main %}{% endblock %}
        </main>

	  <!-- {% load static %} -->
      <!-- <script type='text/javascript' src="{% static "bcglacier/mapping.js" %}"></script> -->
   </body>
</html>
